@media screen and (max-width: 1400px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*1024-1229*/
@media screen and (max-width: 1230px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .info-content-title {
    font-size: 60px;
    line-height: 58px;
  }

  .info-content-text {
    max-width: 535px;
    font-size: 18px;
    line-height: 28px;
  }

  .info-content-features-item-text {
    font-size: 15px;
    line-height: 18px;
  }

  .useful-content {
    justify-content: space-evenly;
  }
}
