@media screen and (max-width: 1400px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .info-content-title {
    font-size: 60px;
    line-height: 58px;
  }

  .info-content-text {
    max-width: 535px;
    font-size: 18px;
    line-height: 27px;
  }

  .useful-content {
    justify-content: space-evenly;
  }
}

/*850-1230*/
@media screen and (max-width: 1230px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main {
    background: none;
    padding-bottom: 120px;
  }

  .menu-item {
    margin-left: 70px;
  }

  .info {
    margin-top: 94px;
  }

  .info-block {
    align-items: end;
    justify-content: space-between;
  }

  .info-content-title {
    font-size: 50px;
    line-height: 50px;
    width: 468px;
  }

  .info-content-text {
    max-width: 458px;
    margin-top: 30px;
  }

  .info-content-features {
    margin-top: 30px;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px -3px 27px rgb(27 48 111 / 6%),
      0px 16px 27px rgb(27 48 111 / 6%), 0px 2px 6px rgb(27 48 111 / 4%),
      0px 0px 1px rgb(27 48 111 / 4%);
    border-radius: 15px;
    width: 318px;
    padding: 15px 0;
  }

  .info-content-features-item {
    margin: 15px 20px;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .info-content-features-item-image {
    position: static;
    width: 36px;
    height: 36px;
  }

  .info-content-features-item-image img {
    width: 100%;
    height: 100%;
  }

  .info-content-features-item-text {
    margin-left: 18px;
    font-size: 16px;
    line-height: 20px;
    width: 223px;
  }

  .info-image {
    margin-left: 40px;
    width: 333px;
    height: 614px;
  }

  .info-image img {
    width: 100%;
    height: 100%;
  }

  .info-action {
    margin-top: 30px;
  }

  .line-through-top {
    left: -210px;
    bottom: 150px;
  }

  .useful {
    margin-top: 150px;
  }

  .useful-title {
    font-size: 50px;
    line-height: 50px;
  }

  .useful-content {
    margin-top: 50px;
  }

  .useful-content-item-text {
    font-size: 19px;
    line-height: 24px;
    width: 259px;
  }

  .useful-content-item:last-child .useful-content-item-text br {
    display: none;
  }

  .carousel {
    margin-top: 120px;
  }

  .carousel-title {
    font-size: 50px;
    line-height: 50px;
  }

  .carousel-block {
    margin-top: 50px;
  }

  .block-item {
    width: 417px;
    height: 540px;
  }

  .block-item img {
    width: 100%;
    height: 100%;
  }

  .line-through-carousel {
    top: 140px;
    left: -111px;
    width: 1326.46px;
    height: 439.83px;
  }

  .purple-circle-blok3 {
    left: -440px;
  }

  .results-content {
    justify-content: space-evenly;
  }

  .results-content-item {
    padding: 77px 33px 35px;
    margin: 0 10px 51px;
  }

  .results-content-item-text {
    font-size: 19px;
    line-height: 24px;
    max-width: 264px;
  }
  .tarifes {
    margin-top: 69px;
  }

  .tarifes-title {
    font-size: 50px;
    line-height: 50px;
  }

  .tarifes-description {
    font-size: 25px;
    line-height: 28px;
    margin-top: 25px;
  }

  .tarifes-content {
    margin-top: 145px;
    justify-content: space-evenly;
  }

  .tarifes-content-item {
    padding: 81px 16px 35px 16px;
    margin: 0;
    width: 263px;
    box-sizing: border-box;
  }

  .tarifes-content-title {
    font-size: 25px;
    line-height: 30px;
  }

  .tarifes-content-item-image {
    height: 182px;
    top: -99px;
  }

  .tarifes-content-item-image img {
    height: 100%;
  }

  .tarifes-content-item-feature-text {
    font-size: 18px;
    line-height: 20px;
    margin-left: 19px;
  }

  .tarifes-content-item-feature-mark {
    width: 13px;
    height: 9px;
  }

  .tarifes-content-item-oldprice {
    font-size: 29px;
  }

  .tarifes-content-item-oldprice span {
    font-size: 20px;
  }

  .tarifes-content-item-newprice {
    font-size: 41px;
  }

  .tarifes-content-item-newprice span {
    font-size: 29px;
  }

  .tarifes-content-item-action {
    display: flex;
    justify-content: center;
  }

  .tarifes .buy-button {
    padding: 21px 72px;
  }

  .reviews {
    margin-top: 120px;
  }

  .reviews-title {
    font-size: 50px;
    line-height: 50px;
  }

  .reviews-carousel {
    margin-top: 50px;
  }

  .reviews-carousel-item:last-child {
    display: none;
  }

  .reviews-carousel-item {
    width: 224px;
    height: 400px;
    margin: 0 8px;
  }

  .reviews-carousel-item img {
    width: 100%;
    height: 100%;
  }

  .faq {
    margin-top: 120px;
  }

  .faq-title {
    font-size: 50px;
    line-height: 50px;
  }

  .faq-accordion {
    margin-top: 50px;
  }

  .questions {
    margin-top: 120px;
  }

  .questions-title {
    font-size: 50px;
    line-height: 50px;
  }

  .questions-description {
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (max-width: 849px) {
  .line-through-top {
    left: -150px;
    bottom: 110px;
  }

  .menu-item {
    font-size: 15px;
    line-height: 15px;
    margin-left: 40px;
  }

  .logo a {
    width: 122px;
    height: 42px;
  }

  .logo a img {
    width: 100%;
    height: 100%;
  }

  .menu {
    font-size: 0;
  }

  .info-content-title {
    width: 100%;
    font-size: 45px;
    line-height: 44px;
  }

  .info-content-text {
    max-width: 479px;
    font-size: 18px;
    line-height: 27px;
    margin-top: 25px;
  }

  .info-content-features {
    margin-top: 93px;
  }

  .info-image {
    position: absolute;
    width: 240px;
    height: 444px;
    top: 215px;
    right: 25px;
  }

  .useful-title {
    max-width: 523px;
    font-size: 36px;
    line-height: 37px;
  }

  .useful-content-item-number {
    font-size: 22px;
    padding: 19px 21px 18px;
  }

  .useful-content-item {
    margin-bottom: 30px;
  }

  .useful-content-item-text {
    font-size: 17px;
    line-height: 22px;
    margin-left: 12px;
    width: 215px;
  }

  .carousel {
    margin-top: 70px;
  }

  .carousel-title {
    font-size: 36px;
    line-height: 37px;
  }

  .block-item {
    width: 303px;
    height: 393px;
  }

  .results {
    margin-top: 100px;
  }

  .results-title {
    font-size: 36px;
    line-height: 37px;
    max-width: 552px;
  }

  .results-content {
    justify-content: space-evenly;
  }

  .results-content-item-text,
  .results-content-item:first-child .results-content-item-text,
  .results-content-item:nth-child(5) .results-content-item-text {
    font-size: 17px;
    line-height: 24px;
    max-width: 263px;
    padding: 0;
  }

  .tarifes {
    margin-top: 49px;
  }

  .tarifes-title {
    font-size: 36px;
    line-height: 37px;
  }

  .tarifes-description {
    font-size: 21px;
    line-height: 28px;
    max-width: 440px;
    margin: 25px auto 0 auto;
  }

  .tarifes-content {
    flex-direction: column;
    margin-top: unset;
  }

  .tarifes-content-item {
    padding: 93px 34px 35px 40px;
    width: unset;
    margin-top: 137px;
  }
  .tarifes-content-item-features {
    margin: 0;
  }

  .tarifes-content-item-feature {
    margin-top: 25px;
  }

  .tarifes-content-item-feature-item .tarifes-content-item-title {
    font-size: 25px;
  }

  .tarifes-content-item-feature-text {
    font-size: 18px;
    line-height: 20px;
    margin-left: 19px;
  }

  .reviews {
    margin-top: 99px;
  }

  .reviews-title {
    font-size: 36px;
    line-height: 37px;
  }

  .reviews-carousel-item:nth-child(3) {
    display: none;
  }

  .faq {
    margin-top: 104px;
  }

  .faq-title {
    font-size: 36px;
    line-height: 37px;
  }

  .faq-accordion.ui-accordion .ui-accordion-header {
    font-size: 19px;
    line-height: 29px;
    padding: 23px 150px 28px 30px;
  }

  .faq-accordion.ui-accordion .ui-accordion-header-active {
    padding-bottom: 17px;
  }

  .faq-accordion .ui-accordion-header-icon {
    top: 20px;
    right: 20px;
    width: 37px;
  }

  .faq-accordion.ui-accordion .ui-accordion-content {
    padding: 0 125px 25px 30px;
  }

  .faq-accordion.ui-accordion .ui-accordion-content p {
    margin: 0;
  }

  .questions {
    margin-top: 100px;
  }

  .questions-title {
    font-size: 36px;
    line-height: 37px;
  }

  .questions-description {
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 639px) {
  header {
    padding-top: 13px;
  }

  .burger {
    display: block;
    cursor: pointer;
    outline: none;
  }

  .menu {
    display: none;
  }

  .info {
    margin-top: 27px;
  }

  .info-block {
    flex-direction: column;
    align-items: center;
  }

  .info-content {
    order: 2;
  }

  .info-image {
    width: 106px;
    height: 195px;
    position: static;
    order: 1;
    margin: 0;
  }

  .info-content-title {
    font-size: 28px;
    line-height: 29px;
    margin-top: 35px;
    text-align: center;
  }

  .info-content-text {
    font-size: 16px;
    line-height: 22px;
    margin: 20px auto 0 auto;
    text-align: center;
  }

  .info-content-features {
    padding: 3px 0 9px 0;
    width: 100%;
    margin-top: 25px;
  }

  .info-content-features-item {
    margin: 15px 27px;
  }

  .info-content-features-item-text {
    width: 100%;
  }

  .buy-button {
    width: 100%;
  }
  .useful {
    margin-top: 50px;
  }

  .useful-title {
    font-size: 24px;
    line-height: 25px;
  }

  .useful-content {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .useful-content-item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .useful-content-item-text {
    font-size: 16px;
    line-height: 19px;
    width: 209px;
  }

  .carousel {
    margin-top: 20px;
  }

  .carousel-title {
    font-size: 24px;
    line-height: 25px;
  }

  .carousel-block {
    margin-top: 20px;
  }

  .line-through-carousel {
    top: -15px;
    left: -260px;
  }

  .blue-circle-b1 {
    top: 124px;
    width: 245px;
    height: 245px;
    right: -93px;
    transform: rotate(50deg);
  }

  .pink-circle-b1 {
    top: -88px;
    left: -42px;
    width: 317px;
    height: 289px;
    filter: blur(50px);
  }

  .purple-circle-b1 {
    bottom: 158px;
    left: -100px;
    width: 264px;
    height: 264px;
    opacity: 0.8;
    filter: blur(100px);
  }

  .purple-circle-blok3 {
    width: 264px;
    height: 264px;
    right: -134px;
    bottom: -1000px;
    top: unset;
    left: unset;
  }

  .pink-circle-blok-tarifes {
    width: 317px;
    height: 289px;
    left: -169px;
    top: 1178px;
  }

  .blur-circle-blok-faq {
    width: 401px;
    height: 376px;
    top: -249px;
    left: -263px;
    filter: blur(60px);
  }

  .line-through-accordion {
    bottom: 108px;
    left: -705px;
  }

  .block-item {
    width: 235px;
    height: 304px;
  }

  .results {
    margin-top: 50p;
  }

  .results-title {
    font-size: 24px;
    line-height: 26px;
  }

  .results-content {
    justify-content: center;
  }

  .results-content-item,
  .results-content-item:first-child,
  .results-content-item:nth-child(5) {
    padding: 77px 16px 35px;
    box-sizing: border-box;
  }

  .results-content-item-text,
  .results-content-item:first-child .results-content-item-text,
  .results-content-item:nth-child(5) .results-content-item-text {
    margin: 0 auto;
  }

  .tarifes {
    margin-top: 0;
  }

  .tarifes-title {
    font-size: 24px;
    line-height: 25px;
  }

  .tarifes-description {
    font-size: 18px;
    line-height: 23px;
  }

  .tarifes-content-item {
    padding: 100px 13px 25px;
    width: 100%;
  }

  .tarifes-content-item-title {
    font-size: 22px;
    line-height: 30px;
  }

  .tarifes-content-item-feature {
    margin-top: 18px;
  }

  .tarifes-content-item-feature-text {
    font-size: 16px;
    line-height: 19px;
    margin-left: 11px;
  }

  .tarifes-content-item-image {
    left: -30px;
  }

  .tarifes-content-item-feature-mark {
    width: 12px;
    height: 8px;
  }

  .tarifes-content-item-oldprice {
    margin-top: 36px;
    font-size: 26px;
  }

  .tarifes-content-item-oldprice span {
    font-size: 18px;
  }

  .tarifes-content-item-newprice {
    font-size: 37px;
  }

  .tarifes-content-item-newprice span {
    font-size: 26px;
  }

  .reviews {
    margin-top: 50px;
  }

  .reviews-title {
    font-size: 24px;
    line-height: 25px;
  }

  .reviews-carousel {
    margin-top: 25px;
  }

  .reviews-carousel-item:nth-child(2) {
    display: none;
  }

  .faq {
    margin-top: 50px;
  }

  .faq-title {
    font-size: 24px;
    line-height: 25px;
  }

  .faq-accordion {
    margin-top: 0;
  }

  .faq-accordion.ui-accordion .ui-accordion-header {
    font-size: 17px;
    line-height: 20px;
  }

  .faq-accordion.ui-accordion .ui-accordion-header {
    padding: 20px 65px 24px 18px;
  }

  .faq-accordion.ui-accordion .ui-accordion-header-active {
    padding-bottom: 11px;
  }

  .faq-accordion.ui-accordion .ui-accordion-content {
    padding: 0 27px 24px 17px;
  }

  .questions {
    margin-top: 50px;
  }

  .questions-title {
    font-size: 24px;
    line-height: 25px;
  }

  .questions-description {
    font-size: 16px;
    line-height: 19px;
    margin: 20px auto 0 auto;
  }

  .questions-action {
    margin-top: 30px;
  }

  .questions-action-button {
    width: 100%;
  }

  .author {
    padding: 30px 0;
  }

  .author-info {
    font-size: 16px;
    line-height: 21px;
  }

  .author-links {
    margin-top: 22px;
  }

  .author-links-item {
    font-size: 16px;
    line-height: 29px;
    margin-top: 0;
  }

  .footer-second {
    padding: 23px 0;
  }

  .footer-cards {
    justify-content: space-evenly;
  }

  .footer-cards-item {
    width: 53px;
    height: 28px;
    margin: 0;
  }

  .footer-cards-item img {
    width: 100%;
    height: 100%;
  }

  .menu.open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 101px 0px 59px 37px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    box-sizing: border-box;
  }

  .header-content {
    align-items: center;
  }

  .menu.open .menu-item {
    margin: 11px 0;
  }

  .menu-close {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    outline: none;
  }
}

@media screen and (max-width: 520px) {
  .modal {
    display: flex;
    padding: 55px 20px 35px;
    background: #fff;
    position: relative;
    box-shadow: 0px -3px 27px rgb(27 48 111 / 6%),
      0px 16px 27px rgb(27 48 111 / 6%), 0px 2px 6px rgb(27 48 111 / 4%),
      0px 0px 1px rgb(27 48 111 / 4%);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 21;
  }

  .modal-close {
    top: 20px;
    right: 20px;
  }

  .modal-title {
    font-size: 22px;
    line-height: 30px;
  }

  .modal-form {
    width: unset;
    margin-top: 10px;
  }

  .form-input {
    margin: 15px 0;
  }

  .form-input label {
    font-size: 15px;
  }

  .form-input input {
    padding: 10px 0 10px 5px;
    font-size: 18px;
  }

  .modal-action {
    margin-top: 10px;
    width: 226px;
  }
}
